body {
  font-family: sans-serif;
  margin: 0;
  padding: 10px;
  background: #fff;
  color: #000;
}
.dark {
  background: #111;
  color: #fff;
}
#users, #chat {
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}
button {
  margin: 5px 0;
}
input {
  margin: 5px 0;
  padding: 5px;
  width: calc(100% - 12px);
}
